:root {
    --primary-color: #264B34;
    --secondary-color: #59B17B;
    --text-color: #333;
    --background-color: #f5f5f5;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-outline-primary {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover, .btn-outline-primary:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

header {
    background-color: white;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
}



.feature-icon, .about-icon {
    color: var(--secondary-color);
}

/* Animation for the hero and feature sections */
.hero {
    animation: fadeInUp 1s ease-in-out;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.feature {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}

.feature.show {
    opacity: 1;
    transform: translateY(0);
}

.navbar a:hover {
    color: var(--secondary-color);
}


.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 4rem;
}

.feature {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    text-align: center;
}

.feature h3 {
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.feature-icon {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--secondary-color);
}

